.nav {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  z-index: 500;
  height: 200px;

   @include grid-column(10);
  @include grid-push(1);

}

main {
  display: block;
  overflow: hidden;
  position: relative;
}
main header {
  position: relative;
  height: 100%;
}

#stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-12deg);
  transform-origin: 0;
  @include linear-gradient(147deg, #407CC9 0%, #5691C8 100%);
  position: absolute;



  span {
    position: absolute;

    &:nth-child(1) {
      height: 350px;
      width: 80.33333%;
      right: -20.66666%;
      background: #7C97C6;
      @include linear-gradient(45deg, #72A7DA 0%, #71A5D4 100%);
      animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    &:nth-child(2) {
      width: 30.33333%;
      background: #fff;
      height: 200px;
      bottom: 0;
      @include linear-gradient(45deg, #72A7DA 0%, #71A5D4 100%);
      animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    &:nth-child(3) {
      width: 100%;
      left: 30.2%;
      background: #fff;
      height: 200px;
      bottom: 0;
      @include linear-gradient(45deg, #427CC1 0%, #68CDEE 100%);
      animation: 1s ease-out 0s 1 slideInFromRight;
    }

  }
}

#hero {
  @include grid-column(12);
  @include grid-push(1);
  height: 500px;
  position: relative;
  top: 300;

  .hero_copy {
    color: $white;
    @include grid-column(8);
    font-size: modular-scale(3);
  }
  .body_text {
    font-size:.5em;
    color: $light-blue;
  }

  .device {
    margin-top: -150px;
    @include grid-column(2);
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }
  .hero_cta {
    @include grid-push(8);
  }
}
