.nav {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  z-index: 500;
  height: 200px;

   @include grid-column(9);
  @include grid-push(2);

}

#stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-12deg);
  transform-origin: 0;
  @include linear-gradient(45deg, #6B8AC8 25%, #414E85 85%);
  position: absolute;



  span {
    position: absolute;

    &:nth-child(1) {
      height: 600px;
      width: 80.33333%;
      right: -20.66666%;
      background: #7C97C6;
      @include linear-gradient(45deg, #7C97C6 25%, #61709F 85%);
    }
    &:nth-child(2) {
      width: 30.33333%;
      background: #fff;
      height: 400px;
      bottom: 0;
      @include linear-gradient(45deg, #fff 25%, #F6F3F3 85%);
    }
    &:nth-child(3) {
      width: 100%;
      left: 30.2%;
      background: #fff;
      height: 400px;
      bottom: 0;
      @include linear-gradient(45deg, #8B98CD 25%, #585F97 85%);
    }

  }
}

#hero {
  @include grid-column(9);
 @include grid-push(2);
  height: 500px;
  position: relative;
  top: 350;

  .hero_copy {
    color: $white;
    @include grid-column(7);
    font-size: modular-scale(3);
  }
  .device {
    margin-top: -150px;
    @include grid-column(2);
    @include grid-push(1);
  }
}
