<div class="index">
  {{ partial "default_head.html" . }}
  <main>
    <header>
      <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <section id="hero">
        <div class="hero_copy">
          <h1>We Craft Digital Experiences</h1>
        </div>
        <div class="device">


          <svg width="334px" height="659px" viewBox="0 0 334 659" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs>
                  <filter x="-5.5%" y="-1.3%" width="112.3%" height="106.1%" filterUnits="objectBoundingBox" id="filter-1">
                      <feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                      <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0320142663 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
                      <feMerge>
                          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                          <feMergeNode in="SourceGraphic"></feMergeNode>
                      </feMerge>
                  </filter>
                  <linearGradient x1="50%" y1="50%" x2="50%" y2="100%" id="linearGradient-2">
                      <stop stop-color="#FFFFFF" offset="0%"></stop>
                      <stop stop-color="#FAFBFC" offset="100%"></stop>
                  </linearGradient>
                  <rect id="path-3" x="0" y="0" width="315.872415" height="639.271983" rx="23.2"></rect>
                  <filter x="-5.2%" y="-1.6%" width="111.6%" height="105.7%" filterUnits="objectBoundingBox" id="filter-5">
                      <feMorphology radius="0.84" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                      <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                      <feGaussianBlur stdDeviation="0.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                      <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0.0823529412   0 0 0 0 0.250980392  0 0 0 0.14 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
                      <feMorphology radius="0.84" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter2"></feMorphology>
                      <feOffset dx="0" dy="2" in="shadowSpreadOuter2" result="shadowOffsetOuter2"></feOffset>
                      <feGaussianBlur stdDeviation="1.5" in="shadowOffsetOuter2" result="shadowBlurOuter2"></feGaussianBlur>
                      <feComposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2"></feComposite>
                      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0.0823529412   0 0 0 0 0.250980392  0 0 0 0.05 0" type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
                      <feMorphology radius="0.84" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter3"></feMorphology>
                      <feOffset dx="2" dy="6" in="shadowSpreadOuter3" result="shadowOffsetOuter3"></feOffset>
                      <feGaussianBlur stdDeviation="3.5" in="shadowOffsetOuter3" result="shadowBlurOuter3"></feGaussianBlur>
                      <feComposite in="shadowBlurOuter3" in2="SourceAlpha" operator="out" result="shadowBlurOuter3"></feComposite>
                      <feColorMatrix values="0 0 0 0 0.678431373   0 0 0 0 0.729411765   0 0 0 0 0.8  0 0 0 0.25 0" type="matrix" in="shadowBlurOuter3" result="shadowMatrixOuter3"></feColorMatrix>
                      <feMerge>
                          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                          <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
                          <feMergeNode in="shadowMatrixOuter3"></feMergeNode>
                      </feMerge>
                  </filter>
                  <filter x="-4.5%" y="-1.3%" width="110.3%" height="105.1%" filterUnits="objectBoundingBox" id="filter-6">
                      <feGaussianBlur stdDeviation="0.5" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
                      <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                      <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                      <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 1 0" type="matrix" in="shadowInnerInner1" result="shadowMatrixInner1"></feColorMatrix>
                      <feGaussianBlur stdDeviation="3" in="SourceAlpha" result="shadowBlurInner2"></feGaussianBlur>
                      <feOffset dx="0" dy="-3" in="shadowBlurInner2" result="shadowOffsetInner2"></feOffset>
                      <feComposite in="shadowOffsetInner2" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner2"></feComposite>
                      <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.08 0" type="matrix" in="shadowInnerInner2" result="shadowMatrixInner2"></feColorMatrix>
                      <feMerge>
                          <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                          <feMergeNode in="shadowMatrixInner2"></feMergeNode>
                      </feMerge>
                  </filter>
                  <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-7">
                      <stop stop-color="#FBFBFB" offset="0%"></stop>
                      <stop stop-color="#FFFFFF" offset="98.3916614%"></stop>
                  </linearGradient>
                  <path d="M157.936207,624.508196 C145.679661,624.508196 135.743766,614.593237 135.743766,602.362515 C135.743766,590.131793 145.679661,580.216834 157.936207,580.216834 C170.192754,580.216834 180.128649,590.131793 180.128649,602.362515 C180.128649,614.593237 170.192754,624.508196 157.936207,624.508196 Z M157.936207,621.924533 C168.762824,621.924533 177.539531,613.166319 177.539531,602.362515 C177.539531,591.558711 168.762824,582.800497 157.936207,582.800497 C147.109591,582.800497 138.332884,591.558711 138.332884,602.362515 C138.332884,613.166319 147.109591,621.924533 157.936207,621.924533 Z" id="path-8"></path>
                  <filter x="-4.5%" y="-4.5%" width="109.0%" height="109.0%" filterUnits="objectBoundingBox" id="filter-9">
                      <feGaussianBlur stdDeviation="2" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
                      <feOffset dx="0" dy="0" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                      <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                      <feColorMatrix values="0 0 0 0 0.636639029   0 0 0 0 0.665429117   0 0 0 0 0.703815901  0 0 0 0.176998415 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
                  </filter>
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="linearGradient-10">
                      <stop stop-color="#FDFBFB" offset="0%"></stop>
                      <stop stop-color="#E4E4E4" offset="100%"></stop>
                  </linearGradient>
                  <rect id="path-11" x="19.2334491" y="73.449841" width="277.405517" height="492.372301" rx="4"></rect>
              </defs>
              <g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-775.000000, -76.000000)">
                      <g id="Group" filter="url(#filter-1)" transform="translate(782.000000, 78.000000)">
                          <mask id="mask-4" fill="white">
                              <use xlink:href="#path-3"></use>
                          </mask>
                          <g id="iPhone-Body">
                              <use fill="black" fill-opacity="1" filter="url(#filter-5)" xlink:href="#path-3"></use>
                              <use fill="url(#linearGradient-2)" fill-rule="evenodd" xlink:href="#path-3"></use>
                              <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-3"></use>
                              <rect stroke="#E0E0E0" stroke-width="0.84" x="-0.42" y="-0.42" width="316.712415" height="640.111983" rx="23.2"></rect>
                          </g>
                          <g id="Home" style="mix-blend-mode: multiply;">
                              <use fill="url(#linearGradient-7)" fill-rule="evenodd" xlink:href="#path-8"></use>
                              <use fill="black" fill-opacity="1" filter="url(#filter-9)" xlink:href="#path-8"></use>
                          </g>
                          <mask id="mask-12" fill="white">
                              <use xlink:href="#path-11"></use>
                          </mask>
                          <g id="Mask-for-Screen">
                              <use fill="url(#linearGradient-10)" fill-rule="evenodd" xlink:href="#path-11"></use>
                              <rect stroke-opacity="0.188066123" stroke="#000000" stroke-width="0.56" x="18.9534491" y="73.169841" width="277.965517" height="492.932301" rx="4"></rect>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </div>
      </section>

    </header>
  </main>
  <div class="row">

    <div class="col-sm-9">

      <div class="articles">
        <div class="row">
          {{ range $key, $value := .Paginator.Pages }}
          <div class="col-sm-{{ if lt $key 4 }}6{{ else }}4{{ end }}">
            {{ .Render "li" }}
          </div>
          {{ end }}
        </div>
      </div>

      {{ partial "pagination.html" . }}

    </div>

    <div class="col-sm-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>
  {{ partial "default_foot.html" . }}
</div>
